<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/information">Information</a></li>
        			<li><a href="/geo-rankings">Geo Rankings</a></li>
                  		<li><a href="/flashcards">Flashcards</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		 <ul>
   				<li>GeographyAlmanac</li>
			</ul>
      			</footer>
		</body>
	</html>
